<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="google-site-verification" content="v0RbFGdNq5X7pHjyepGNJjs53-bbyaQlOSFMC6F0QVI"/>
        <title>{{PageTitle}}</title>
        <meta property="og:description" content="{{PageDescription}}"/>
        <meta property="fb:app_id" content="704339209706397"/>
        <meta property="og:title" content="{{PageTitle}}"/>
        <meta property="og:type" content="webpage"/>
        <meta property="og:url" content="http://www.design263.com"/>
        <meta property="og:image" content="https://static.xx.fbcdn.net/rsrc.php/v2/yb/r/nrpLiSINthw.png"/>
        <meta property="og:locale" content="en_US"/>
        <meta name="twitter:site:id" content="336765253"/>
        <meta name="twitter:card" content="summary"/>
        <link href="https://plus.google.com/+Design263" rel="publisher">
        <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/images/favicon/favicon.ico">
        <link href="../css/screen.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header id="header"></header>
        <div class="page blog">
            <h1>{{info_title}}</h1>
            <p>{{infoSection}}</p>
        </div>
        <footer id="footer"></footer>
        <script src="../js/lib/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
          $(function(){
            $('#header').load('../template/header.html');
            $('#footer').load('../template/footer.html');
          });
        </script>
        <script src="../js/data.json"></script>
        <script src="../js/script.js"></script>
    </body>
</html>
