
           <div class="content container-fluid">
             <div class="row">
               <div class="services col-md-4">
                 <ul class="nav">
               <li><a href="/services/web-development">Website development</a></li>
               <li><a href="/services/design">Print and digital design</a></li>
               <li><a href="/services/social-media">Social media Consultancy</a></li>
               <li><a href="/services/content-auditing">Content auditing and authoring</a></li>
                 </ul>
               </div>
               <div class="infoPages col-md-4">
                 <ul class="nav">
               <li><a href="/terms">Terms and conditions</a></li>
               <li><a href="/faqs">Faqs</a></li>
               <li><a href="/history">History</a></li>
               <li><a href="/case-studies">Portfolio</a></li>
                 </ul>
               </div>

               <div class="ecard col-md-4">
                  <p class="logo"><i></i><span>Design263</span></p>
                  <p class="address"><i></i>70 Saxon way ,Great Denham, Bedford, MK40 4GP</p>
                  <p class="email"><i></i>mail@design263.com</p>
                  <p class="phone"><i></i>07753196725</p>
                            <p>
                                <a href="https://www.facebook.com/design263" class="facebook">facebook</a>
                                <a href="https://twitter.com/niq263" class="twitter">twitter</a>
                                <a href="https://plus.google.com/+Design263" class="googleplus">google+</a>
                                <!--<a href="#" class="instagram">instagram</a>
                                <a href="#" class="youtube">youtube</a>-->
                            </p>
               </div>
                <div class="companyInfo col-md-12">
                   <p class="copyright col-md-6">&copy;2016 Design263</p>
                   <p class="company-reg col-md-6">Company Reg:10208995. Registered in England and Wales</p>
                </div>
             </div><!--row-->
  </div><!--content container-->
