<nav class="navbar navbar-default navbar-fixed-top vc" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand logo" href="/">
        <span class="logo-txt">Design263</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="topmenu">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#featured">Featured</a></li>
        <li><a href="#about">Who we are</a></li>
        <li><a href="#services">What we do</a></li>
        <li><a href="#contact">Contact us</a></li>
        <li><a href="/our-work/">Our work</a></li>
        <li><a href="#consultation-form" class="cta btn" id="bookConsultation">Book a consultation</a></li>
      </ul>
<!--      <ul class=" sitenav hidden">
        <li><a href="/about/">Our story</a></li>
        <li><a href="/our-work/">Our work</a></li>
        <li><a href="/services/">Our services</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>-->
    </div><!--menu-->
  </div>
</nav>
