	
.layout{
	max-width:100%;
	display:inline;
	width:auto;
	margin:0;
	padding:0;
}
.row{
	text-align:center;
}
img{
	max-width: 100%;
}
.no-padding{
	padding:0!important;
}
.hidden{
	display:none;
}
.pink{
	background: $hot-pink;
}
.lime{
	background:#99A090;
}
.cocoa{
	background:#4e4848;	
}
.blue{
	background:#6693a1;	
}
.orange{
	background:#ff9e7b;
}
.purple{
	background:#a665c1;
}