.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  //$refills-max-width:68em;
  //$hero-image: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png";

  //background: url($hero-image),linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top),no-repeat $hero-background-top scroll;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  margin-top: -75px;
  background-color: #000;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    //@include outer-container();
    @include clearfix;
    margin: auto;
    //padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

#featured .item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#our_services{
  position: absolute;
  top: auto;
  bottom: 0;
  //margin-left: -15px;
  font-size:12px;
  text-align:left;
  padding: 0;
  background: white;
  display:none;
  @include media(769px) {
    display:block;
  }
  p{
    float: left;
    margin: 0;
    display: inline-block;
    padding: 9px;
    font-family:$font-2;
    background-color: #0c6eba;//#00a8e6;
  }
  ul{
    max-height:250px;
    float: left;
    display: inline-block;
    li {
      float:left;
      a{
        font-family:$font-2;
        font-size:12px;
        padding:8px 15px;
        &:hover{
          text-decoration: underline;
          color:#0c6eba;
        }
      }
    }
  }
}
