header{
	//opacity:0;
	//transition:200ms all ease-out;
}
.navbar-default.vc{
	border:none;
	background: rgba($white, 0.85);
	transition: all 400ms ease-out;
	&.inbody{
		//background: transparent;
		background: rgba($blue2, 0.85);

		.navbar-nav {
			margin-top: 0;
			> .active {
				> a, > a:hover,> a:focus{
					color:$white;
					&:after{
						background: $white;//#880000;
					}
				}
			}
			a{
				color: rgba(0, 12, 16, 0.5);
			}
		}
	}
	.navbar-nav {
		margin-top: 20px;
		> .active {
			> a, > a:hover,> a:focus{
				background: none;
				color:$primary-color;
				&:after{
					background: $primary-color;//#880000;
					content:'';
					width:100%;
					height:3px;
					display: block;
				}
			}
		}
		a{
			color: $primary-color;//#451919;
			font-weight: 500;
		}
	}
	.dropdown-toggle{
		background: none;
	}
	.navbar-toggle{
			border-color: lighten($primary-color, 10);
			background-color: $white;
			border-radius: 0px;
			margin-right: 10px;
			.icon-bar{
				background-color: $primary-color;
			}

		&.collapsed{
			border-color: darken($primary-color, 10);
			background-color: $primary-color;
			.icon-bar{
				background-color: $white;
			}
		}
	}
}
