//common page elements


.page{
  &.row{
    max-width:960px;
    margin:25px auto;
  }
  h1,h2,h3,h4{
      font-family: $heading-font-family;
      //font-size: 1.5em;
      font-weight: 100;
      letter-spacing: 0.012em;
      //text-transform: uppercase;
      line-height: $heading-line-height;
      margin: 0 0 $small-spacing;
      text-align: center;
  }
  .subheading{
      font-family: $heading-font-family;
      font-size: 1.2em;
      font-weight: 100;
      text-align: center;
  }
  #clients h2{
    font-size: 1.5em;
    //font-weight: 100;
    //text-transform: uppercase;
    //text-align: center;
  }
}
.subpage{
  margin: 20px auto;
  overflow: hidden;
 > div{
    padding:3.5em 0;
  }
  &:nth-of-type(2n) > div{
    //background:lighten($primary-color,40);
  }
  &.texture{

  }
}
