$parallax-window-height: 50em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 16em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("/img/woodarea.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: rgba($blue2,.4);
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
