.showcase{
	padding: 100px 20px;
	blockquote{
		color:$hot-pink;
	}
	p{
		font-family: $font-2;
		line-height: 1.5em;
		letter-spacing: .025em;
		margin-bottom:20px;
	}
	.subpage &{
		padding:40px 20px;
	}
	&.social-media-signup{
		color:$white;
		overflow:hidden;
		background-color: $blue;
		p,h3,h2,blockquote,a{
			color: inherit;
		}
		a{
			opacity:.9;
			transition:200ms all ease-out;
			&:hover{
				opacity: 1;
				color:$orange;
			}
		}
	}
	&.contact-form{
		margin-top:-120px;
	}
	
}
