.navbar-brand {
		&.logo {
		    width: 80px;
		    margin: 5px 0 5px 10px;
		    height: 40px;
		    background-size: cover;
		    display: block;
		    padding:0;
				position: relative;
				overflow: hidden;
				&:before{
					content: ' ';
					display: block;
					height: 70px;
					background: url("../images/logos/logo.png") no-repeat;
					background-position:0 center;
					background-size: contain;
				}
				&:after{
					content: ' ';
					display: none;
					height: 40px;
					background: url("../images/logos/design263-logo-inverted.png") no-repeat;
					background-position: center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
					width: 50px;
				}
		    @media all and (min-width:768px){
					height: 70px;
					width: 250px;
		    }
				.logo-txt{
					position: absolute;
					top: 0;
					left: 90px;
					line-height: 70px;
					font-size: 1.2em;
					color:$primary-color;
					text-transform: lowercase;
				}
		//	.logo-txt{
			//	display:none;
			//}
		}
	.inbody.vc &{
		&.logo {
			height: 40px;
			width:200px;
			&:before{
				display:none;
			}
			&:after{
				display: block;
			}
			.logo-txt{
				display:block;
				padding-left: 52px;
		    line-height: 40px;
		    text-transform: lowercase;
		    font-weight: 100;
		    letter-spacing: .025em;
		    color: $white;
				position: relative;
				top: auto;
				left: auto;
				font-size: 1em;
			}
		}
	}
}
