<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
<meta name="google-site-verification" content="v0RbFGdNq5X7pHjyepGNJjs53-bbyaQlOSFMC6F0QVI" />
<title>Design263 - Website and social media marketing consultancy</title>
<!--<link href="/css/bootstrap.css" rel="stylesheet">-->
<meta property="og:description" content="Web Design consultants based in Bedfordshire, offering website auditing on analytics and tracking, intelligent content authoring, SEO and web development"/>
<meta property="fb:app_id" content="704339209706397"/>
<meta property="og:title" content="Design263 - Web development and social media marketing consultancy "/>
<meta property="og:type" content="webpage"/>
<meta property="og:url" content="http://www.design263.com"/>
<meta property="og:image" content="https://static.xx.fbcdn.net/rsrc.php/v2/yb/r/nrpLiSINthw.png"/>
<meta property="og:locale" content="en_US"/>
<meta name="twitter:site:id" content="336765253"/>
<meta name="twitter:card" content="summary"/>
<link href="https://plus.google.com/+Design263" rel="publisher">
<!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
-->
 <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/images/favicon/favicon.ico">
<!--<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>-->
<link href="/css/screen.css" rel="stylesheet" type="text/css">
</head>
<body>

 <!-- Google Tag Manager -->
 <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTMFL8"
 height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
 '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
 })(window,document,'script','dataLayer','GTM-PTMFL8');
   </script>
 <!-- End Google Tag Manager -->

 <video id="bgvid" autoplay muted poster="images/bgvid.jpg">
   <source src="images/video/bgvid.mp4" type="video/mp4"/>
   <source src="images/video/bgvid.ogv" type="video/ogv"/>
   <source src="images/video/bgvid.webm" type="video/webm"/>
 </video>

<header>
     <nav class="navbar navbar-default navbar-fixed-top vc" role="navigation">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
           <a class="navbar-brand logo" href="/">
             <span class="logo-txt">Design263</span>
           </a>
         </div>
         <div class="collapse navbar-collapse" id="topmenu">
           <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#featured">Featured</a></li>
             <li><a href="#about">Who we are</a></li>
             <li><a href="#services">What we do</a></li>
             <li><a href="#contact">Contact us</a></li>
             <li><a href="/our-work/">Case studies</a></li>
             <li><a href="#consultation-form" class="cta btn" id="bookConsultation">Book a consultation</a></li>
           </ul>
         </div><!--menu-->
       </div>
     </nav>
   </header>

 <div class="page intro carousel fullheight" id="featured">
     <div class="container-fluid content">
       <div class="row">
         <div class="summary showcase col-xs-12 col-sm-12 col-md-10 col-md-offset-1 ">
         <h1 class="display">Web development consultants</h1>

         <blockquote>Brilliant, creative ideas, effortless execution!</blockquote>

         <p class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">Design263 is a web development consultancy based in Bedfordshire offering web development services for creative agencies and businesses alike. </p>

         </div>
         <div id="our_services" class="col-xs-12"></div>
       </div><!--row-->
     </div><!--container content-->
</div><!--home-->

 <div class="page be-white story" id="about">
       <div class="container-fluid">
         <div class="who-we-are col-md-offset-1 col-md-5">
           <h3 class="" title="About us">Who is Design263</h3>
           <p>We are a web development consultancy based in Bedford, Bedfordshire. Over the years we have built and designed some exciting websites and worked on some very innovative projects. Our experience working with Google give us real experience in user engagement, and this is why we are best positioned to audit your web projects, From S.E.O, to analytics and content authoring, Design263 will take your websites to greater heights and help you hit your targets.</p>
           <a href="#history" class="cta">Find out more >></a>
         </div>
         <div class="what-we-do col-md-6">
           <h3 class="what-we-do" title="Our services">What we do</h3>
           <p>Design263 brings experience and know how to your web projects. Our services include intelligent web content auditing, search engine optimisation, UI design, extensive tracking and analytics auditing as well as general website build and maintenance .
           </p>
         </div>
         <div class="philosophy col-md-offset-1 col-md-5">
           <h3 class="" title="Our philosophy">Our approach</h3>
           <blockquote>Always aspire to inspire everyone</blockquote>
           <p>
             Design263 services are all bespoke, as our client all have different objectives, we look at each new project as a unique challenge, and we use our years of experience to produce creative, exciting and engaging solutions.
           </p>
         </div>
         <div class="subscribe col-md-6">
           <h3 class="" title="Subscribe">Become part of our network</h3>
           <p>
             Follow us, like our pages, share what we have in common
           </p>
           <p>
             <a href="https://www.facebook.com/design263" class="facebook">facebook</a>
             <a href="https://twitter.com/niq263" class="twitter">twitter</a>
             <a href="https://plus.google.com/+Design263" class="googleplus">google+</a>
<!--							<a href="#" class="instagram">instagram</a>
             <a href="#" class="youtube">youtube</a>-->
           </p>
         </div>
       </div>
       <div class="page our-clients" id="clients">

       </div>
     </div>

 <div class="page services" id="services">
       <div class="container-fluid content">
           <div class="services-summary col-md-12">
             <h3 class="display">Our services</h3>
             <p>
               We offer services in web development , print and graphics design services,  as well as social media solutions . Our main area of expertise is web development as most of our team are web developers and data analysts, Design263 will dive deep into the inner workings of your website and we guarantee to improve your user engagement and improve your client experience.Book a consultation to get a better insight about how your website works and how we can increase your conversion thresholds
             </p>
             <a href="#enquiry-form" class="cta service-enquiry">Make an enquiry >></a>
           </div>

           <div class="serviceList col-md-8">

             <article class="tile service col-xs-6 col-md-4" id="content-auditing">

               <h3>Web content auditing</h3>
               <img src="images/graphics/png/content-auditing-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                 <blockquote>Be relevant</blockquote>
                 <p>We help you create relevant content for your pages which directly affects how search engines index and recommend your pages.</p>
                 <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
             <article class="tile service col-xs-6 col-md-4" id="analytics">
               <h3>Analytics and tracking</h3>
               <img src="images/graphics/png/analytics-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                 <blockquote>Stay on step ahead</blockquote>
                 <p>Have an insight on what your visitors focus on ,restrategise to prioritise content, learn and achieve higher conversions</p>
                 <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
             <article class="tile service col-xs-6 col-md-4" id="user-experience">
               <h3>User experience</h3>
               <img src="images/graphics/png/user-experience-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                 <blockquote>Its a visual thing</blockquote>
                 <p>De-clutter your website, simplify and clarify, retain more users with very clear <strong>call to actions</strong> and easy to navigate pages. </p>
                 <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
             <article class="tile service col-xs-6 col-md-4" id="web-development">
                 <h3>Design and develop</h3>
                 <img src="images/graphics/png/web-development-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                   <blockquote>Inspire your audience</blockquote>
                   <p>Inject life into your website, a combination of colour, imagery and clever coding makes for a grand design, we gives your website pizzazz.</p>
                   <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
             <article class="tile service col-xs-6 col-md-4" id="seo">
                 <h3>Search engine optimisation</h3>
                 <img src="images/graphics/png/seo-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                   <blockquote>How high can u go</blockquote>
                   <p> Design263 combines all aspect of web development knowledge to get you high up the rankings using natural search  mechanisms.</p>
                   <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
             <article class="tile service col-xs-6 col-md-4" id="social-media">
                 <h3>Social media Marketing</h3>
                 <img src="images/graphics/png/social-media-icon.png" alt="" class="serviceImg"/>
               <div class="overlay">
                   <blockquote>Follow, Like, Share</blockquote>
                   <p>Supporting your website with a robust , well thought out social media strategy not only underlines your individuality and ethos, but it raises brand awareness and sensitivity</p>
                   <a href="#enquiry-form" class="cta service-enquiry">Enquire</a>
               </div>
             </article>
           </div>
           <div class="col-xs-12 col-md-4">
               <div class="feed ">
                 <h3>Latest Tweets</h3>
                 <a class="twitter-timeline" href="https://twitter.com/niq263" height="300" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent">Latest tweets</a>
                 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
           </div>
       </div><!--container content-->
     </div><!--services-->

   <footer>
              <div class="content container-fluid">
                <div class="row">
                  <div class="services col-md-4">
                    <ul class="nav">
                  <li><a href="/services/web-development">Website development</a></li>
                  <li><a href="/services/design">Print and digital design</a></li>
                  <li><a href="/services/social-media">Social media Consultancy</a></li>
                  <li><a href="/services/content-auditing">Content auditing and authoring</a></li>
                    </ul>
                  </div>
                  <div class="infoPages col-md-4">
                    <ul class="nav">
                  <li><a href="/terms">Terms and conditions</a></li>
                  <li><a href="/faqs">Faqs</a></li>
                  <li><a href="/history">History</a></li>
                  <li><a href="/case-studies">Portfolio</a></li>
                    </ul>
                  </div>

                  <div class="ecard col-md-4">
                     <p class="logo"><i></i><span>Design263</span></p>
                     <p class="address"><i></i>70 Saxon way ,Great Denham, Bedford, MK40 4GP</p>
                     <p class="email"><i></i>mail@design263.com</p>
                     <p class="phone"><i></i>07753196725</p>
                               <p>
                                   <a href="https://www.facebook.com/design263" class="facebook">facebook</a>
                                   <a href="https://twitter.com/niq263" class="twitter">twitter</a>
                                   <a href="https://plus.google.com/+Design263" class="googleplus">google+</a>
                                   <!--<a href="#" class="instagram">instagram</a>
                                   <a href="#" class="youtube">youtube</a>-->
                               </p>
                  </div>
                   <div class="companyInfo col-md-12">
                      <p class="copyright col-md-6">&copy;2016 Design263</p>
                      <p class="company-reg col-md-6">Company Reg:10208995. Registered in England and Wales</p>
                   </div>
                </div><!--row-->
     </div><!--content container-->
</footer>
<div class="modal" id="enquiry-form">

</div>
<script src="/js/lib/jquery-1.11.2.min.js"></script>
<script src="/js/data.json"></script>
<script src="/js/script.js"></script>


<script type="text/html" id="clientsList">
 <div class="container-fluid">

   <h2>Just some of our recent clients</h2>
   <div class="row slideContainer">
     <div class="slider slider-for">
       {{#clients}}
       <div>
           <p class="clientHead"><img src="images/logos/color/{{clientImg}}" alt="{{client}}"/>{{client}}</p>
           <!--<p class="clientspec">{{category}}</p>-->
           <p class="clientSummary">{{summary}}</p>
       </div>
       {{/clients}}
     </div>
     <div class="slider slider-nav">
       {{#clients}}
       <div>
         <img src="images/logos/{{clientImg}}" alt="{{client}}"/>
       </div>
       {{/clients}}
     </div>

   </div>
 </div>
</script>
<script type="text/html" id="servicesList">
 <p class="">
   We can help you with:
 </p>
 <ul class="">
   {{#feature}}
   <li class="">
     <a href="#{{url}}" title="{{slide}}" class="btn {{ref}}" target="_blank">
       {{slide}}
       <i class=""></i>
     </a>
   </li>
   {{/feature}}
<!--		<li class="col-xs-12 col-sm-2 col-md-4">
     <a href="#" class="btn">View our work</a>
   </li>-->
 </ul>
</script>

</body>
</html>
