<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
<title>Design263 - Website and social media marketing consultancy</title>
<!--<link href="/css/bootstrap.css" rel="stylesheet">-->

<meta property="og:description" content="Web Design consultants based in Bedfordshire, offering website auditing on analytics and tracking, intelligent content authoring, SEO and web development"/>
<meta property="fb:app_id" content="704339209706397"/>
<meta property="og:title" content="Design263 - Website and social media marketing consultancy "/>
<meta property="og:type" content="webpage"/>
<meta property="og:url" content="http://www.design263.com"/>
<meta property="og:image" content="https://static.xx.fbcdn.net/rsrc.php/v2/yb/r/nrpLiSINthw.png"/>
<meta property="og:locale" content="en_US"/>
<meta name="twitter:site:id" content="336765253"/>
<meta name="twitter:card" content="summary"/>

<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="/css/screen.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--	<div class="carousel slide" id="featured" data-ride="carousel">
	  <div class="carousel-inner fullheight">
	    <div class="item">
				<img src="images/hill-house.jpg" alt="isolated house on a hill">

	    </div>
	  </div>
	</div>-->

		<header>
			<nav class="navbar navbar-default navbar-fixed-top vc" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<a class="navbar-brand logo" href="/">
							<span class="logo-txt">Design263</span>
						</a>
					</div>
					<div class="collapse navbar-collapse" id="topmenu">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#featured">Featured</a></li>
							<li><a href="#about">Who we are</a></li>
							<li><a href="#services">What we do</a></li>
							<li><a href="#web-design">Design and Develop</a></li>
							<li><a href="#blog">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div><!--menu-->
				</div>
			</nav>
		</header>

		<div class="page intro carousel fullheight" id="featured">
			<div class="container-fluid content">
				<div class="row">
					<div class="summary showcase col-xs-12 col-sm-12 col-md-10 col-md-offset-1 ">
					<h1 class="display">Web development consultants</h1>

					<blockquote>Brilliant, creative ideas, effortless execution!</blockquote>

					<p class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">Design263 is a web development consultancy based in Bedfordshire offering web development services for creative agencies and businesses alike. </p>
					<div id="our_services" class="col-xs-12">

					</div>
					<!--p>Design263 services include intelligent content auditing, search engine optimisation, UX auditing, and general build and maintenance of client websites. We also provide an extensive tracking and analytics audit on existing websites and provide you with an explanation of what your analytics are saying about your visitors as well as giving you tried and tested recommendations to improve your website’s performance. </p>
				<p class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">Design263 takes websites you currently have and builds on that. Having a website with irrelevant content is detrimental to your business objectives unless you are intentionally setting up to fail.</p>
					<p class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">Design263 takes your lead, your ideas and your ethos and we build unique solutions for you based on what your pages are actually meant to achieve by simplifying how you approach the web.</p>
					-->
					</div>
				</div><!--row-->
			</div><!--container content-->
			</div><!--home-->



	<div class="page" id="about">
		<div class="content">
	      <div id="js-parallax-window" class="parallax-window">
	        <div class="parallax-static-content">
	          <div class="container">
	            <h2>About us</h2>
	            <p>Design263 is a web development consultancy based in Bedfordshire. We offer web development for creative agencies and businesses alike. Design263 services include intelligent content auditing, search engine optimisation, UX auditing, and general build and maintenance of client websites. We also provide an extensive tracking and analytics audit on existing websites and provide you with an explanation of what your analytics are saying about your visitors as well as giving you tried and tested recommendations to improve your website’s performance.</p>
	          </div>
	        </div>
	        <div id="js-parallax-background" class="parallax-background"></div>
	      </div>
		</div><!--container content-->
		<div class="container-fluid highlight pink">
		  	<div class="row texture">
		      <div class="summary showcase col-xs-12 texture-normal">

				<div class="vert-al">
				  	<h2 class="display">What we do</h2>
				  	<blockquote>Always aspire to inspire everyone</blockquote>
				  	<div class="col-xs-12">
							<p>As a company Design263 prides ourself with achieving the best for our clients. As a consultancy our work ranges from auditing existing web applications and websites to determine if these tools are doing their job , to designing, developing and building completely new websites to bespoke specifications to help you attain your objectives.</p>
					 		<p>By thinking outside the box and aiming to engage everyone with our creativity, we showcase the best of what our clients have to offer because we use our expertise to make sure you always lead with your strongest foot.<a href="#work">Check our some of our recent projects</a></p>
				  	</div>
				</div>
		      </div>
	      	</div><!--row-->
		</div><!--container content-->
		<div class="container">
	      	<div class="row hidden">
		      	<div class="portfolio col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			      	<ul>
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
				      	<li class="project tile no-margin  col-sm-6 col-md-4">
					      	<a href="#" class="overlay">
						      	<img class="logo" alt="logo"/>
						      	<p class="project-title">Company Title</p>
						      	<p class="project-type">Service rendered</p>
						  	</a>
				      	</li><!--project-tile-->
			      	</ul>
		      	</div><!--portfolio-->
	      	</div><!--row-->
		</div><!--container content-->
	</div> <!--about-->
    <div class="page" id="services">
	    <div class="container content">
				<div class="row">
		      <div class="summary showcase col-xs-12 no-padding">
			  		<h2 class="display">Our services</h2>
			  		<blockquote>We are constantly evolving to keep you relevant</blockquote>
		      </div>
		    <div>
			    <article class="tile service pink col-sm-4">
				    <a href="#content-auditing" class="overlay">
						<h3>Web content auditing</h3>
				    	<blockquote>Be relevant</blockquote>
				    	<p>Design263 helps you create the right  content which directly affects how search engines index your pages. Simply put, we make your content work for your visitors.</p>
				    </a>
			    </article>
			    <article class="tile service lime col-sm-4">
				    <div class="overlay">
				    	<h3>Analytics and tracking</h3>
					    <blockquote>Knowledge is power</blockquote>
					    <p>Be aware of your visitors’ habits and know what to prioritise and focus your online strategy on. knowing what works for your audience is always half the battle won.</p>
				    </div>
				 </article>
			    <article class="tile service cocoa col-sm-4">
				    <div class="overlay">
					    <h3>User experience</h3>

					    <blockquote>Its a visual thing</blockquote>

					    <p>A seamless website experience makes for happier customers who will frequent your website more often, make your website accessible, understandable and easy to use . </p>
				    </div>
			    </article>
			    <article class="tile service blue col-sm-4">
				    <div class="overlay">
				        <h3>Design and develop</h3>
				        <blockquote>We work to inspire you</blockquote>
				        <p>Design263 can transform even the most boring unwiring website and create an inspired piece of art that will not only visual capture imaginations but propel your business to new heights online</p>
				    </div>
			    </article>
			    <article class="tile service orange col-sm-4">
				    <div class="overlay">
				        <h3>Search engine optimisation</h3>
				        <blockquote>Relevance is the key</blockquote>

				        <p> Design263 combines all aspect of web development knowledge to get you as high up the rankings as we can possibly get without paying money to a search engine.</p>
				    </div>
			    </article>
			    <article class="tile service purple col-sm-4">
				    <div class="overlay">
				        <h3>Get connected</h3>
				        <blockquote>Follow, Like, Share</blockquote>

				        <p>Supporting your website with a robust , well thought out social media strategy not only underlines your individuality and ethos, but it raises brand awareness and sensitivity</p>
				    </div>
			    </article>
		      </div>
		    </div><!--row-->
			</div><!--container content-->
	    <div class="subpage" id="content-auditing">
				<div class="container-fluid content">
					<div class="row ">
						<div class="summary showcase col-xs-12">
							<h2>Website content auditing</h2>
							<p>Design263 takes what you currently have and builds on it, our aim is not to dismantle or disregard your current content if you already have a website, on the contrary our job is to rummage through and highlight the ‘gems’ within your content and polish that and push that to the front, after all , a web page is not  worth much if all its content is irrelevant,  or it does not inspire the impulse to find out more from your visitors. </p>
							<p>Our authors carefully tailor each individual piece of content to engage your target audience to find out more about what you have to offer. Sometimes saying the right things the right way goes a long way in converting a prospective client into a willing stakeholder in your organisations agenda.</p>
						</div>
					</div>
				</div><!--container content-->
	    </div><!--auditing-->
	    <div class="subpage texture" id="seo">
		    <div class="container-fluid content texture-inverted">
				<div class="row ">
			      <div class="summary showcase col-xs-12">
				      <h2>Search Engine Optimisation</h2>


				      <p>Over the years the world wide web has become more sophisticates and the way in which we view web content has changed and become more complicated as we all have individual tastes. this however has meant that search engines and they way they look at what is relevant has had to evolve to serve up the right content which is right for our individual and unique consumers values, in essence , search engines now view our websites our web pages in a much more simplistic, and are now able to tell the difference between what is good relevant content, and what is useless and time wasting rubbish.</p>

				      <p>A simple consultation will leave your web pages in either in a better state as we will make recommendations as to how they can be presented better so you can move closer to the top listings, or leave you more secure in the knowledge that your website works just fine and there is nothing more you need to do except wait and see yourself climb to the top of the search  engine</p>
			      </div>
		      </div>
		    </div><!--container content-->
	    </div><!--seo-->
	    <div class="subpage" id="analytics">
		    <div class="container-fluid content">
				<div class="row ">
			      <div class="summary showcase col-xs-12">
				      <h2>Analytics and tracking</h2>
				      <p>Knowing what a consumer wants puts you in a very advantageous position, it creates a predictable certainty that gives you an edge over your competitors and those around you because it makes consumers feel special, like they belong on your page, like you have struck a connection that the other websites have not, because you shave the thing that they want, or at least something very close to it.</p>
				      <p>Design263 can help your web pages be set up in such a way that your visitors will leave a telling story of why some things on your website work, and why others may have been great ideas in theory, but they just did not work in practice, we will help you analyse your visitors’ habits on your website and point out what to lead with and invest more off, and look for solutions to why some ideas just don’t work in practice.</p>
			      </div>
		      </div>
		    </div><!--container content-->
	    </div><!--analytics-->
	    <div class="subpage texture" id="user-experience">
		    <div class="container-fluid content texture-inverted">
					<div class="row ">
			      <div class="summary showcase col-xs-12">
				      <h2>UX(user experience)</h2>
				      <!--(This maybe be the day when your website is just right- image goldilocks and the three bears)-->

				      <p>Knowing what attracts your website visitors to your website is just as important as knowing the things about the same site that may be turning them off. This is a concept that most large firms and companies have known for a long time and having this in their armoury has proved a lethal weapon to wield in the battle for online customers and market share.</p>
				      <p>Simply put, the better and easier you make your website to navigate , the more enjoyable it becomes for the end user and therefore the longer people are willing to tolerate whatever it is that you are trying to sell because they don’t have the added burden of tolerating a tedious and unthoughtful customer experience.</p>
				      <p>From simple wording of statements, to positioning of buttons on a page, a lacklustre	focus on user experience issues can cause great angst while a well thought out strategy could prove to be just right  if you know what is needed to make a great website work.</p>

				      <p>Making a website is like making a great dish, adding too much seasoning could prove costly while too little could be seen as boring, lacking inspiration and mundein. You need a website which if you take time and invest a little bit of effort, turns out just right.</p>
			    	</div>
		      </div>
		    </div><!--container content-->
	    </div><!--ux-->
 	    <div class="subpage" id="social-media">
		    <div class="container-fluid content">
				<div class="row ">
			      	<div class="summary showcase col-xs-12">
				      <h2>Social Media Marketing</h2>
				      <!--(This maybe be the day when your website is just right- image goldilocks and the three bears)-->
				      <p>Having a website is a huge leap towards getting noticed, complementing it with a well structured social media network driven by your website and current goals puts you at a whole other level to your competitors. Design263 will direct your brand perception through milestones we will cork together with you at achieving and take advantage of the tools available on the internet to give your organisation full exposure through its social media network.</p>
			      </div>
		      </div>
		    </div><!--container content-->
	    </div><!--social marketing-->
    </div><!--services-->
    <div class="page" id="web-design">


	    <div class="container content">
			<div class="row ">
			    <div class="summary col-xs-12 col-md-12 col-md-offset-0">
				    <div class="showcase highlight purple col-md-6">
				   		<h2>Web design</h2>
				   		<!--(This maybe be the day when your website is just right- image goldilocks and the three bears)-->
				   		<p>Getting your clients on to your website is one thing, inspiring them enough to buy into your products is a whole different ball game and should be approached with a lot of forethought.</p>
				   		<p>Modern web design techniques have changed dramaically, and trends show that the most creative web strategies almost always wins out in drawing attention. Allow us to take your website to that next level of creativity and see your audience transformed.
					</div>
					<div class="showcase highlight orange col-md-6">
				      <h2>Web development</h2>
				      <!--(This maybe be the day when your website is just right- image goldilocks and the three bears)-->

				      <p>Web development is about taking a simple idea and creating engaging solutions which a inspire reaction, and like anything else , the reaction you get is determined by how you set out to achieve your objective. </p>
				      <p>At Design263 our goal is to create websites and applications that move people, and we endeavour to do it right every time, taking concepts you put in front of us and delivering fully functional , robust solutions to meet your objectives.</p>
			      	</div>
		      	</div>
			</div>
	    </div><!--container content-->
    </div><!--web-development-->
		<div class="page texture" id="clients">

		</div>
    <div class="page hidden" id="blog">
	    <div class="container content">
		    <div class="row">
				<h2>Blog</h2>
				<p>Blog here</p>
		    </div>
		    <div class="row">
			    <p>side menu</p>
		    </div>
	    </div><!--container content-->
    </div><!--blog-->
    <div class="page texture" id="contact">
	    <div class="container content">
		    <div class="row">
			    <div class="contact-form summary showcase">
			    	<h2>Contact us</h2>
				    <blockquote >Make an enquiry</blockquote>
				    <div id="contact-form" class="col-xs-12">
					    <form class="">
						    <fieldset class="clientProfile">
							    <div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label for="company" class="col-xs-12 col-md-4 no-padding">Organisation Name</label>
								    <input type="text" name="organisation" class="col-xs-12 col-md-8 "/>
							    </div>
									<div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label for="name" class="col-xs-12 col-md-4 no-padding">Contact Name</label>
								    <input type="text" name="name" class="col-xs-12 col-md-8 "/>
							    </div>
									<div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label for="email" class="col-xs-12 col-md-4 no-padding">Email</label>
								    <input type="email" data-name="email" class="col-xs-12 col-md-8 "/>
							    </div>
									<div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label for="name" class="col-xs-12 col-md-4 no-padding">Contact number</label>
								    <input type="tel" data-name="telephone" class="col-xs-12 col-md-8 "/>
							    </div>
									<div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label for="name" class="col-xs-12 col-md-4 no-padding">Do you have a website</label>
								    <input type="checkbox" data-name="currentSite" checked="unchecked" class="col-xs-12 col-md-8 "/>
								    <input type="text" placeholder="Enter website address" class="col-xs-12 hidden"/>
							    </div>
									<div class="form-row col-xs-12 col-md-10 col-md-offset-1">
								    <label class="col-xs-12 col-md-4 no-padding">How can we help you?</label>
								    <select class="col-xs-12 col-md-8 ">
									    <!--<optgroup label="Reason for enquiry">
									    </optgroup>-->
										    <option value="general">General Enquiry</option>
										    <option value="complaint">Complaint</option>
										    <option value="development">Web development</option>
										    <option value="design">Web design</option>
										    <option value="audit">Website audit</option>
									</select>
							    </div>
							    <div class="form-row col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 hidden">
								    <p>We can help you with you enquiry about {{enquiry}}. </p>
							    	<div id="selectedServiceOptions">
								    	<div class="selected-service general hidden">
									    	<label>Please type your enquiry</label>
									    	<textarea class="enquiry"></textarea>
								    	</div><!--general enquiry-->
								    	<div class="selected-service general hidden">
									    	<label>Please state the nature of your complaint to allow us to deal with it quickly</label>
									    	<input type="text" id="complaint-ref"/>
									    	<textarea class="enquiry"></textarea>
								    	</div><!--complaint-->
							    	</div><!--Create and call different views per response-->
							    </div>
						    </fieldset>
					    </form>
				    </div>
			    </div><!--form-->
		    </div>
		    <div class="row">
			    <div class="map">
				    <h3>Come visit us</h3>
				    <p>Give us a quick call <span class="phone">07753 196725</span> to book a consultation.</p>
				    <div id="map"></div><!--map-->
			    </div>
		    </div>
	    </div><!--container content-->
	    <div class="container-fluid content">
		    <div class="row">
				<div class="highlight blue social-media-signup showcase texture-inverted">
					<h3>Get in touch</h3>
			    	<p class="col-md-8 col-md-offset-2">Share in what we like, catch up on what we are doing, follow us on our daily grind , be a part of our network buy joining one or more of our channels for advice,tutorials and generally get to know more about who we are and what we stand for.</p>
				    <p class="social-media col-md-10 col-md-offset-1">
				        <a href=""><em class="fa fa-facebook-square fa-4x"></em></a>
				        <a  href="#"><em class="fa fa-instagram fa-4x"></em></a>
				        <a  href="#"><em class="fa fa-twitter-square fa-4x"></em></a>
				        <a  href="#"><em class="fa fa-pinterest-square fa-4x"></em></a>
				        <a  href="#"><em class="fa fa-google-plus-square fa-4x"></em></a>
				    </p>
				</div>
		    </div>
	    </div>
    </div><!--contact us-->
   <footer>
	   <div class="content container-fluid">
		   <div class="row">
			   <div class="col-md-4">
				   <p>&copy;2015 Design263</p>
			   </div><!--col-->
			   <div class="col-md-8">
				   <nav class="navbar navbar-default" role="navigation">
					   <ul class="nav navbar-nav navbar-right">
						   <li><a href="#">Terms and conditions</a></li>
						   <li><a href="#">Faqs</a></li>
						   <li><a href="#">Newsletter</a></li>
						   <li><a href="#">Portfolio</a></li>
					   </ul>
				   </nav>
			   </div><!--col-->
		   </div><!--row-->
	   </div><!--content container-->
   </footer>
<script src="/js/lib/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/lib/mustache.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/data.json"></script>
<script type="text/html" id="clientsList">
	<div class="container-fluid">
		<h2>Just some of our recent clients</h2>
		<ul class="showcase row">
			{{#clients}}
				<li class="col-xs-12 col-sm-4 col-md-2"><a href="{{url}}"><img src="images/logos/{{clientImg}}" alt="{{client}}"/></a></li>
			{{/clients}}
		</ul>
	</div>
</script>
<script type="text/html" id="servicesList">
	<ul class="col-xs-12">
		{{#feature}}
		<li class="col-xs-12 col-sm-2 col-md-4">
			<a href="#{{url}}" title="{{slide}}" class="btn {{ref}}">
				{{slide}}
				<i class=""></i>
			</a>
		</li>
		{{/feature}}
<!--		<li class="col-xs-12 col-sm-2 col-md-4">
			<a href="#" class="btn">View our work</a>
		</li>-->
	</ul>
</script>
</body>
</html>
