 <!DOCTYPE html>
 <html lang="en">
     <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
     <meta name="google-site-verification" content="v0RbFGdNq5X7pHjyepGNJjs53-bbyaQlOSFMC6F0QVI"/>
     <title>Design263 - Our Work</title>
     <meta property="og:description" content="{{PageDescription}}"/>
     <meta property="fb:app_id" content="704339209706397"/>
     <meta property="og:title" content="{{PageTitle}}"/>
     <meta property="og:type" content="webpage"/>
     <meta property="og:url" content="http://www.design263.com"/>
     <meta property="og:image" content="https://static.xx.fbcdn.net/rsrc.php/v2/yb/r/nrpLiSINthw.png"/>
     <meta property="og:locale" content="en_US"/>
     <meta name="twitter:site:id" content="336765253"/>
     <meta name="twitter:card" content="summary"/>
     <link href="https://plus.google.com/+Design263" rel="publisher">
     <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/images/favicon/favicon.ico">
     <link href="../css/screen.css" rel="stylesheet" type="text/css">
     <!--<link rel="stylesheet" type="text/css" href="/Styles/dmx3DFlipGallery.css" />-->
     <script type="text/javascript" src="/ScriptLibrary/jquery-latest.pack.js"></script>
     <script type="text/javascript" src="/ScriptLibrary/dmx3DFlipGallery.js"></script>
     </head>

     <body class="portfolio">
         <header id="header"></header>
         <div class="page container-fluid">
             <div class="row hero col-md-offset-2 col-md-8">
                 <h1>Our Work</h1>
                 <p>Over time we have worked on some exciting projects and our portfolio has grown to include small and large projects alike.Below are a few examples of what we can do for you. Feel free to have a proper look and tell us what you think</p>
             </div><!--hero-->

            <div class="our-work">
                <div class="tiles" id="clients"></div>
            </div>
            <div class="clincher">
            <div class="imgBg col-sm-6 col-md-6 mobile">
              <img src="/images/portfolio-heroBg.png" alt="" />
            </div>
              <div class=" col-sm-6 col-md-6">
                <h3>Do you like what we do?</h3>
                <p>You can <a href="#enquiryForm" class="cta text-link">make a simple enquiry</a> about an upcoming project or about collaborating on an ongoing project via our enquiries form. Alternatively if you have made up your mind that we are a good fit, you can <a href="#consultationForm" class="cta text-link">book a consultation</a> with us straight away, you get a free 2 hour consultation for your project. Once we know what you want we can show you what we need to proceed .We cant wait to hear from you. </p>
                <div class="">
                  <a href="#enquiryForm" class="btn primary-btn">Make an enquiry</a>
                  <a href="#consultationForm" class="btn primary-btn">Book a consultation</a>
                </div>
              </div>
              <div class="imgBg col-sm-6 col-md-6 desktop">
                <img src="/images/portfolio-heroBg.png" alt="" />
              </div>
            </div>
        </div>

         <footer id="footer"></footer>
         <script src="../js/lib/jquery-1.11.2.min.js"></script>
         <script src="../js/data.json"></script>
		 <script type="text/javascript">
             $(function(){
                 $('#header').load('../template/header.html');
                 $('#footer').load('../template/footer.html');
             });
         </script>
         <script src="../js/script.js"></script>

		 <script type="text/html" id="clientsList">
            <div class="container-fluid texture-normal">
                <ul class="row" id="portfolio">
                    {{#clients}}

                    <li class="dmx3DFlipGallery col-xs-6 col-md-4">
                      <div class="dmx3DFlipPhoto">
                        <div class="dmx3DFlipPhotoFront">
                          <img src="../images/clientImg/{{portfolio_img}}" alt="{{client}}"/>
                        </div>
                        <div class="dmx3DFlipPhotoBack">
                          <div class="brief">
                            <h4>{{client}}</h4>
                            <p class="shortDesc">{{project}}</p>
                            <p class="longDesc">{{summary}}</p>
                            <div>
                              <a href="../clients/{{reference}}" title="{{project}}" class="btn review">Case study</a>
                              <a href="{{url}}" target="_blank" class="btn review external">{{client}}</a>
                          </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {{/clients}}
                </ul>
            </div>

         </script>
         <script type="text/javascript">
           // <![CDATA[
          jQuery(document).ready(
            function()
              {
                jQuery("#portfolio").dmx3DFlipGallery(
                  {"shufflePlacement": ""}
                );
              }
          );
           // ]]>
         </script>
     </body>
 </html>
