body{
	position: relative;
	padding-top:0;
	&:hover header{
		opacity: 1;
	}
}
.page{
	//padding-top: 70px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background: url(../images/bgvid.jpg) no-repeat;
    z-index: -10;
    //opacity: .8;
}
